{% extends "layout_login.html" %}

{% block title %}
    Password_Reset
{% endblock %}

{% block main %}
    <h3>Congrats! User verified :)</h3>
    <form action="{{ url_for('reset_password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Type Your New Password" type="password" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Reset Password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
